@import url('https://fonts.googleapis.com/css?family=Nunito');



/*@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Raleway');*/


/*menu*/

#rvarts {
    background-color: rgba(255, 255, 255, .9) !important;
    border-bottom: 1px solid #0052cc;
}

.navbar-dark .navbar-brand {
    color: #0052cc;
}

#main-menu {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    color: #0052cc;
}

#main-menu li,
#main-menu a {
    text-align: right;
    color: #0052cc;
}

[itemprop="logo"] {
    max-height: 36px;
    width: auto;
}

.navbar-toggler-icon {
    background-color: red;
}

#page-wrapper {
    padding: 80px 0;
}

#date-wrapper {
    padding: 80px 0;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3.5em;
    margin: 0;
    color: #484242;
}

a {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    color: #0052cc;
    text-decoration: none;
    font-size: 1.1em;
}


/*cards*/

.card img {
    height: 200px;
    object-fit: cover;
}

.card {
    z-index: 0;
    transition: all .2s ease 0s;
    height: 100%!important;
    border-radius: 0;
    bottom: 0;
    left: 0;
    border: 1px solid;
    padding: 0 0 100px 0;
}

.card:hover {
    bottom: 10px;
    left: -10px;
}

.event-bg {
    background: url("../imgs/hover-background-pattern.png") repeat;
    height: 100%!important;
}


.event {
    margin: 10px 0;
    height: auto;
}

.event h2 {
    text-align: left;
}

.event-title {
    margin: 20px;
}





/*stamp css from https://codepen.io/555/pen/pdwvBP*/

.date {
    color: #555;
    font-size: 2.3rem;
    font-weight: 300;
    padding-left: 20px;
}

.col-md-6 .date-holder {
    height: 150px;
}

.col-md-4 .date-holder {
    height: 100px;
}

.card.black {
    background-image: url(../imgs/cardbottom-black-sans.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.card.blue {
    background-image: url(../imgs/cardbottom-blue-sans.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.card.green {
    background-image: url(../imgs/cardbottom-green-sans.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.card.pink {
    background-image: url(../imgs/cardbottom-pink-sans.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.card.red {
    background-image: url(../imgs/cardbottom-red-sans.png);
    background-repeat: no-repeat;    
    background-position: bottom;
    background-size: contain;
}

.card.yellow {
    background-image: url(../imgs/cardbottom-yellow-sans.png);
    background-repeat: no-repeat;    
    background-position: bottom;
    background-size: contain;
}

.col-md-6 .event-title {
    background-repeat: no-repeat;
    background-position: center;
}

.col-md-4 .event-title {
    font-size: 1.5em;
} // This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/*set this for mobile menu - background color solid and remove flex*/

